@using Scalesoft.Localization.AspNetCore
@inject ILocalizationService Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FileLocalization.Web.AspNetCore.Sample</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css"
              asp-fallback-href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">FileLocalization.Web.AspNetCore.Sample</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="Index">@Localizer.Translate("Home")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="About">@Localizer.Translate("About")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="Contact">@Localizer.Translate("Contact")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="Client">@Localizer.Translate("Client-Side")</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   id="nav-resources-dropdown"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   href="#">
                    @Localizer.Translate("nav-resources")
                </a>
                <div class="dropdown-menu" aria-labelledby="nav-resources-dropdown">
                    <a class="dropdown-item" asp-controller="Database" asp-action="Index">@Localizer.Translate("dynamic-text-list-title")</a>
                    <a class="dropdown-item" asp-controller="Database" asp-action="AddDynamicText">@Localizer.Translate("save-dynamic-text-title")</a>
                    <a class="dropdown-item" asp-controller="Database" asp-action="DeleteAllDynamicText">@Localizer.Translate("delete-all-dynamic-text-title")</a>
                    <a class="dropdown-item" asp-controller="Database" asp-action="DeleteDynamicText">@Localizer.Translate("delete-dynamic-text-title")</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Login" asp-action="Login">@Localizer.Translate("SignIn")</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; 2019 - FileLocalization.Web.AspNetCore.Sample</p>
    </footer>
</div>

<environment names="Development">
    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/node_modules/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/bootstrap.min.js"
            asp-fallback-src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
</environment>

@RenderSection("Scripts", required: false)
</body>
<footer>
    <div class="row justify-content-md-center">
        <div class="col-auto">
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
    </div>
</footer>
</html>
