@using Localization.AspNetCore.Service
@using Localization.CoreLibrary.Model
@model Localization.Web.AspNetCore.Sample.Models.DynamicTextSaveViewModel
@inject ILocalizationService Localizer


<section id="saveDynamicTextForm">
    @using (Html.BeginForm("SaveDynamicText", "Database", new {returnUrl = ViewData["ReturnUrl"]}, FormMethod.Post, true, new {role = "form"}))
    {
        <h4>@Localizer.Translate("save-dynamic-text-title")</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(m => m.Culture, new {@class = "col-md-3 control-label"})
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.Culture, Model.SupportedCultures, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new {@class = "col-md-3 control-label"})
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Text, new {@class = "col-md-3 control-label"})
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Text, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Scope, new {@class = "col-md-3 control-label"})
            <div class="col-md-8">
                @Html.TextBoxFor(m => m.Scope, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.IfDefaultNotExistAction, new {@class = "col-md-3 control-label"})
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.IfDefaultNotExistAction, Html.GetEnumSelectList<IfDefaultNotExistAction>(), new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer.Translate("Save")" class="btn btn-primary"/>
        </div>
    }
</section>
