@using Localization.AspNetCore.Service
@inject ILocalization Localizer
@model Localization.Web.AspNetCore.Sample.Models.DynamicTextViewModel

    <section id="saveDynamicTextForm">
        @using (Html.BeginForm("DeleteDynamicText", "Database", new {returnUrl = ViewData["ReturnUrl"]}, FormMethod.Post, true, new {@class = "form-horizontal", role = "form"}))
    {
        <h4>@Localizer.Translate("save-dynamic-text-title")</h4>
        <hr />
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            <label class="col-md-3 control-label" for="name">@Localizer.Translate("name")</label>
            <div class="col-md-8">
                <input id="name" class="form-control" type="text" name="Name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="scope">@Localizer.Translate("scope")</label>@*TODO lozalize*@
            <div class="col-md-8">
                <input id="scope" class="form-control" type="text" name="Scope" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Culture, new {@class = "col-md-3 control-label"})
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.Culture, Model.SupportedCultures, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="@Localizer.Translate("Delete")" class="btn btn-default" />
            </div>
        </div>
    }
    </section>
