@using Localization.AspNetCore.Service
@inject ILocalizationService Localizer

<section id="saveDynamicTextForm">
    @using (Html.BeginForm("DeleteAllDynamicText", "Database", new {returnUrl = ViewData["ReturnUrl"]}, FormMethod.Post, true, new {role = "form"}))
    {
        <h4>@Localizer.Translate("delete-all-dynamic-text-title")</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            <label class="col-md-3 control-label" for="name">@Localizer.Translate("name")</label>
            <div class="col-md-8">
                <input id="name" class="form-control" type="text" name="Name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="scope">@Localizer.Translate("scope")</label>@*TODO lozalize*@
            <div class="col-md-8">
                <input id="scope" class="form-control" type="text" name="Scope"/>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer.Translate("Delete")" class="btn btn-primary"/>
        </div>
    }
</section>
