@using Localization.AspNetCore.Service
@model Localization.Web.AspNetCore.Sample.Models.DynamicTextResult
@inject ILocalization Localizer

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<section id="dynamicTextList">
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">@Localizer.Translate("result")</div>
        <table class="table">
            <thead>
            <tr>
                <th>@Localizer.Translate("name")</th>
                <th>@Localizer.Translate("text")</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Text</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div class="panel panel-default">
        Direct translation: @Model.DirectTranslation
    </div>
</section>
</body>
</html>