@using Localization.AspNetCore.Service
@model Localization.Web.AspNetCore.Sample.Models.DynamicTextResult
@inject ILocalization Localizer

<section id="dynamicTextList">
    <hr/>
    <div class="panel panel-default">
        <div class="panel-heading">@Localizer.Translate("result")</div>
        <table class="table">
            <thead>
            <tr>
                <th>@Localizer.Translate("name")</th>
                <th>@Localizer.Translate("text")</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Text</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div class="panel panel-default">
        Direct translation: @Model.DirectTranslation
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">Loaded full localization for key</div>
        <table class="table">
            <thead>
            <tr>
                <th>Culture</th>
                <th>Text</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var cultureAndText in Model.AllDynamicTexts)
            {
                <tr>
                    <td>@cultureAndText.Culture</td>
                    <td>@cultureAndText.Text</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>
