@using Scalesoft.Localization.AspNetCore
@using Scalesoft.Localization.AspNetCore.Extensions
@inject ILocalizationService Localizer
@inject IRazorLocalizationService RazorLocalizer

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

Test ViewLocalization:
@Localizer.Translate("text-1-odst")

<br />
Database:
<br />
@Localizer.Translate("support", "home")

@*RazorLocalizer test*@
<p>@RazorLocalizer.TranslateFormat("long-text", Html.RouteLink("Scalesoft", @"https:\\www.scalesoft.cz\"), Html.EncodedString(4.987654321), Html.EncodedString("<script>console.log(\"hello\");</script>"))</p>
