@model Localization.Web.AspNetCore.Sample.Models.LoginViewModel
@using Localization.AspNetCore.Service
@{
    ViewData["Title"] = Localizer.Translate("Contact-title", "global");
}

@inject ILocalization Localizer

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<section id="loginForm">
    @using (Html.BeginForm("About", "Login", new { returnUrl = ViewData["ReturnUrl"] }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
    {
        <h4>@Localizer.Translate("Login-text","main.contact")</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Input.UserName, new { @class = "col-md-3 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Input.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Input.Password, new { @class = "col-md-3 control-label" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Input.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Input.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.Input.RememberMe)
                                @Html.LabelFor(m => m.Input.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="@Localizer.Translate("Login-submit", "global")" class="btn btn-default" />
                        </div>
                    </div>
        <p>
            @Html.ActionLink(Localizer.Translate("RegisterAccount", "global"), "", "", new { returnUrl = ViewData["ReturnUrl"] }, new { })
        </p>
        <p>
            @Localizer.Translate("General", "other")
        </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
    }
</section>