@model EditorViewModel

<div class="alert alert-warning unsaved-changes-alert">
    The changes are not saved.
    <button type="button" class="btn btn-primary save-button">Save</button>
    <span class="saving-spinner">Saving...</span>
</div>

<div id="common-data" data-scope="@Model.Scope"></div>

<h5>Standard dictionary</h5>
<table class="table standard-dictionary">
    <tr>
        <th>Key</th>
        @foreach (var culture in Model.Cultures)
        {
            <th>@culture</th>
        }
    </tr>
    @foreach (var row in Model.StandardRows)
    {
        <tr data-key="@row.Key">
            <td>@row.Key</td>
            @{var index = 0;}
            @foreach (var translation in row.Translations)
            {
                <td class="edit-cell" data-culture="@Model.Cultures[index++]" data-value="@translation">
                    @if (translation == null)
                    {
                        <span class="badge badge-secondary">null</span>
                    }
                    else
                    {
                        <span>@translation</span>
                    }
                </td>
            }
        </tr>
    }
</table>

<h5>Constants</h5>
<table class="table constants">
    <tr>
        <th>Key</th>
        @foreach (var culture in Model.Cultures)
        {
            <th>@culture</th>
        }
    </tr>
    @foreach (var row in Model.ConstantRows)
    {
        <tr data-key="@row.Key">
            <td>@row.Key</td>
            @{var index = 0;}
            @foreach (var translation in row.Translations)
            {
                <td class="edit-cell" data-culture="@Model.Cultures[index++]" data-value="@translation">
                    @if (translation == null)
                    {
                        <span class="badge badge-secondary">null</span>
                    }
                    else
                    {
                        <span>@translation</span>
                    }
                </td>
            }
        </tr>
    }
</table>

<h5>Pluralization</h5>
<table class="table">
    <tr>
        <th>Key</th>
        @foreach (var culture in Model.Cultures)
        {
            <th>@culture</th>
        }
    </tr>
    <tr>
        <td></td>
        @foreach (var pluralization in Model.Pluralizations)
        {
            <td>
                @if (pluralization != null)
                {
                    <div class="alert alert-warning">
                        File contains pluralization but it is not supported in this editor
                    </div>
                }
            </td>
        }
    </tr>
</table>

<div class="alert alert-warning unsaved-changes-alert">
    The changes are not saved.
    <button type="button" class="btn btn-primary save-button">Save</button>
    <span class="saving-spinner">Saving...</span>
</div>
