@model EditorViewModel

<h5>Standard dictionary</h5>
<table class="table">
    <tr>
        <th>Key</th>
        @foreach (var culture in Model.Cultures)
        {
            <th>@culture</th>
        }
    </tr>
    @foreach (var row in Model.StandardRows)
    {
        <tr>
            <td>@row.Key</td>
            @foreach (var translation in row.Translations)
            {
                <td>@translation</td>
            }
        </tr>
    }
</table>

<h5>Constants</h5>
<table class="table">
    <tr>
        <th>Key</th>
        @foreach (var culture in Model.Cultures)
        {
            <th>@culture</th>
        }
    </tr>
    @foreach (var row in Model.ConstantRows)
    {
        <tr>
            <td>@row.Key</td>
            @foreach (var translation in row.Translations)
            {
                <td>@translation</td>
            }
        </tr>
    }
</table>

<h5>Pluralization</h5>
<table class="table">
    <tr>
        <th>Key</th>
        @foreach (var culture in Model.Cultures)
        {
            <th>@culture</th>
        }
    </tr>
    <tr>
        <td></td>
        @foreach (var pluralization in Model.Pluralizations)
        {
            <td>
                @if (pluralization != null)
                {
                    <div class="alert alert-warning">
                        Pluralization is not supported in this editor
                    </div>
                }
            </td>
        }
    </tr>
</table>

